.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 30rem;
  max-width: 48rem;
  width: fit-content;
  flex: 1;
  padding: 4rem 0;
}

.search-type-wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
  height: 5.6rem;
  margin: 0.8em 0; 
}

input[type="text"] {
    padding: 1.25rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
}

input[type="text"]:focus {
  outline: none;
}

.search-type-wrapper span {
  text-decoration: underline;
}

.search-type-wrapper span:hover {
  cursor: pointer;
}

.search-type-wrapper button {
  background-color: #fcb103;
}

.search-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  height: fit-content;
  margin: 0 auto;
  width: 100%;
}

.align-left {
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .search-buttons-wrapper {
    gap: .5rem;
  }
}
