header {
  width: 100%;
  padding: 3rem 4vw;
  display: flex;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #202f33;
  color: #fff;
  transition: all .3s ease-in;

  h3 {
    font-size: 2rem;
    height: fit-content;
    color: #fff;
  }
}

.shrink {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 1000px) {
  header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
