@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  background: #202f33;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #A1BDC4;
}

header {
  width: 100vw;
  margin: 0 auto;
  background-color: transparent;
  padding: 3em 1em;
  display: flex;
  align-items: center;
  height: 7.2rem;

  h3 {
    font-size: 2rem;
    height: fit-content;
    color: #fff;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 0;
  width: 100%;
}

.resultsGrid {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: .6em;
  padding: 0.75em;
  padding-top: 0;
  margin-top: -10em;
  margin-bottom: 5em;
}

.highlight {
  background-color: #fcb103;
}

@media (min-width: 680px) {
  .resultsGrid {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }

  .product-container {
    max-width: 32rem !important;
  }
}

@media (min-width: 780px) {
  header {
    padding: 3em 5em
  }
}

@media (min-width: 1250px) {
  .wrapper {
    flex-direction: row;
    margin: initial;
    align-items: center;
    padding-left: 5em;
    gap: 0;
    overflow: hidden;
    max-height: calc(100vh - 8.4rem)
  }

 .resultsGrid {
    width: 86rem;
    height: 100%;
    margin-top: 10rem;
    margin-bottom: 0;
    padding-bottom: 10rem;
    overflow-y: scroll;
    max-height: calc(100vh - 8.4rem)
  }

  .form-container {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .product-container {
    max-width: 38rem !important;
  }
}

.button {
  padding: 0.8em;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
  background-color: #fcb103;
  color: #000;
  font-weight: 600;

  i {
    font-size: 1em;
    color: inherit;
    padding-right: 0.5em;
  }

  &:hover {
    cursor: pointer;
    i { color: #58181f; }
  }
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display:inline-block;
}

.sub-heading {
  font-size: 1.6rem; 
  color: #fff;
  margin: 0.5em 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.search-buttons-wrapper {
  display: flex;
  gap: 1em;
  height: fit-content;
  margin: 0 auto;
  width: 100%;
}

