@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  background: #202f33;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #A1BDC4;
}

.header {
  width: 100%;
  margin: 0 auto;
  background: #202f33;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5s ease;
  padding: 5rem 0;
  position: sticky;
  top: 0;

  h3 {
    font-size: 2rem;
    height: fit-content;
    color: #fff;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6vw 0;
  width: 100vw;
}

main {
  min-height: 34rem;
  overflow-y: scroll;
  gap: 5rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  align-items: flex-end;
  min-height: 50vh;
}

.resultsGrid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: #fcb103;
}

.button {
  padding: 0.8em;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
  color: #000;
  font-weight: 600;

  i {
    font-size: 1em;
    color: inherit;
    padding-right: 0.5em;
  }

  &:hover {
    cursor: pointer;
    i { color: #58181f; }
  }
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display:inline-block;
}

.sub-heading {
  font-size: 1.6rem; 
  color: #fff;
  margin: 0.5em 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media (min-width:1280px) {
  .wrapper {
    height: 100vh;
  }

  main {
    flex-direction: row !important;
    overflow: hidden;
    gap: 0;
  }

  .resultsGrid {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    margin-top: 15%;
  }

  section {
    align-items: center;
  }
}

.shrink {
  padding: 2.5rem 0;
}
